#container{
	position:absolute;
	width:1200px;
	height:800px;
	border:2px solid #000000;
	perspective:600px;
	overflow:hidden;
	background-color:#C0FFFF;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

#world{
	position:absolute;
	width:inherit;
	height:inherit;
	transform-style:preserve-3d;
}

.square{
	position:absolute;
}

#pawn{
	position:absolute;
	width:100px;
	height:100px;
	background-color:#C0F0FF;
	top:400px;
	left:600px;
	transform:translate(-50%,-50%);
	display:none;
}

/* menu */

.menu{
	display:none;
	position:absolute;
	width:inherit;
	height:inherit;
	background-color:#C0FFFF;
}

.button{
	position:absolute;
	margin:0px;
	width:900px;
	height:250px;
	background:#FFFFFF;
	cursor:pointer;
}

.button.hover{
	background-color:#DDDDDD;
}

#button1{
	top:100px;
	left:150px;
}

#button2{
	top: 450px;
	left:150px;
}

#button3{
	top:450px;
	left:150px;
}

p{
	margin:0px;
	font-size:50px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	user-selet:none;
	font-family:game_font;
}

@font-face{
	font-family:game_font;
	src:url("Fonts/Font.ttf");
}

/* design of the objects */

.coin{
	box-shadow:0 0 10px #FFFF00;
}

.key{
	box-shadow: 0 0 10px #FF0000;
}